.section-comprobantes {
  width: 100vw;
  height: 100vh;
  background-image: url('./../../public/img/MardelNoche.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}

.div-comprobantes {
    display: grid; /* usamos grid en lugar de flex */
    grid-template-columns: repeat(3, 1fr); /* 4 columnas */
    grid-template-rows: repeat(2, auto);   /* 2 filas */
    padding-top: 25vh;
}

.card {
    background-color: rgba(255, 255, 255, 0.449);
    border-radius: 10px;
    margin: 1vw;
    padding: 1vw;
    text-align: center;
}

.card h2, .card a, .card p {
    display: flex;
    justify-content: center;
    font-size: 1.8vw;
    margin-bottom: 3vh;
    color: black;
    font-family: lato, sans-serif;
    font-weight: bold;
}

.detalle-card div ,
.detalle-card a,
.detalle-card p {
    display: flex;
    justify-content: center;
    margin: 0 auto 1vw auto;
    color: black;
    background-color: rgba(0, 0, 255, 0.348);
    width: 80%;
    border-radius: 10px;
    padding: 5px 0;
    font-size: 1vw;
}









   @media screen and (max-width: 524px) {

.div-comprobantes {
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
    padding-top: 15vh;
    gap: 5vw;
}

.card {
    height: 18vh;
    justify-content: center;
    margin-bottom: 10vw;
}



.card a {
    font-weight: bold;
    font-size: 4.2vw;
    margin-bottom: 1vh;
}

.card h2, .card p {
    font-size: 4.2vw;
    margin-bottom: 1vh;
}
    

.detalle-card div ,
.detalle-card a,
.detalle-card p {
    font-weight: 100!important;
    margin: 0 auto 1vw auto;
    width: 90%;
    padding: 3px;
    font-size: 3.2vw !important;
    font-weight: bold!important;
}



   }